include README.md
include LICENSE
include TRANSLATIONS.md
include requirements.txt
include compile_resources.py
recursive-include data *
recursive-include src/swww_gui/translations *.json
# Не включаем бинарный файл ресурсов, он будет сгенерирован
# recursive-include src/swww_gui/resources.gresource * 